<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Author Details - {{ author.name }}</title>
  </head>
  <body>
    <div class="book_section">
      {% if error_msg %}
      <p class="error-message">{{ error_msg }}</p>
      <a href="{{ url_for('home') }}">back home</a>
      {% else %}
      <div class="books">
        <div class="author-container book-container">
          <h2>{{ author.name }}'s books:</h2>
          <div class="author-content">
            <ul>
              {% for book in books_by_author %}
              <li>
                <a href="{{ url_for('book_detail', book_id=book.id) }}"
                  >{{ book.title }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
